@page {
  margin: 1cm; /* Set margin on each page */
}

body {
  font-family: 'Garamond', serif !important;
  font-size: 11pt !important;
  padding: 0 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', sans-serif !important;
  margin-block-end: 0em;
  margin-bottom: 0em;
}

h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
}

h3.tail {
  display: inline-block;
  margin-right: 0px;
}

h4.smaller {
  margin-left: 0px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  display: inline-block;
}

h4 {
  margin-block-start: 0.5em;
  margin-bottom: 0em;
}

h5, h6 {
  margin-block-start: 0em;
  margin-top: 0em;
}

h4, h5 {
  font-weight: 300;
  font-style: italic;
  font-size: 11pt !important;
}

hr, p, .line-block {
  padding-bottom: 0.2em;
}

h2, h3, h4, h5, h6, p, hr, ol, ul, table, .line-block {
  margin-left: 40px;
  margin-right: 40px;
}

dt, dl, dd > .line-block, table > p, dd > p, dd > ul, dd > ol, li > p {
  margin: 0px;
  page-break-inside: avoid !important;
}
dd {
  margin-bottom: 0.25em;
}
h5, h6, dd, li {
  font-weight: 300;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

dt {
  float: left;
  font-family: 'Gill Sans', sans-serif !important;
}

dd {
  display: block;
}

table, .heading {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.heading strong {
  font-weight: normal;
}

.cont {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.references {
  display: none;
}
