body {
  font-family: 'Garamond', serif !important;
  font-size: 11pt !important;
  padding: 0 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, hr, p, dd > p, .line-block {
  padding-bottom: 0.5em;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
  font-size: 11pt !important;
  font-style: italic;
}

h2, h3, h4, h5, h6, p, hr, ol, ul, table, .line-block {
  margin: 0px 40px;
}

dd > .line-block, table > p {
  margin: 0px;
}

h5, h6, dd, li {
  font-weight: 300;
  
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

dt {
  float: left;
  font-family: 'Gill Sans', sans-serif !important;
}

dd {
  display: block;
}

dd > p {
  margin: 0px;
}

table, .heading {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.heading strong {
  font-weight: normal;
}

.cont {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.references {
  display: none;
}
