body {
	font-family: 'Garamond', serif !important;
	font-weight: 400;
	font-size: 12pt !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', sans-serif !important;
}

ol, ul {
	list-style-type: none;
}

ol {
	font-family: 'Gill Sans', sans-serif !important;
  font-size: 16pt;
  font-weight: bold;
}

ul {
  font-family: 'Garamond', serif !important;
  font-weight: normal;
  list-style-position: outside;
}

ul li:before {
  content: "\2014\a0";
}

li {
  margin-bottom: 10px;
}

hr {
  border: 3px black;
  text-align: center;
}

table {
	width: 100%;
}

.heading {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.heading strong {
  font-weight: normal;
}

.cont {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.references {
  display: none;
}
