body {
	font-family: 'Garamond', serif !important;
	font-weight: 400;
	font-size: 13pt !important;
	color: #9CC8DD  !important;
	background-color: #9CC8DD !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Gill Sans', sans-serif !important;
	font-variant: small-caps;
	margin-top: 10px !important;
}

h1, h2 {
	font-variant: uppercase !important;
}


nav a {
	color: #9CC8DD !important;
	text-decoration: none !important;
	padding: 5px;
	font-family: 'Gill Sans', sans-serif !important;
	font-variant: small-caps;
  	font-weight: 700;
}

nav a:hover, nav a:focus {
	color: #931F00 !important;
	background-color: #9CC8DD !important;
}

a {
	color: #931F00 !important;
}

a:hover {
	text-decoration: underline !important;
}

.body hr {
	border: 0 !important;
	height: 1px !important;
	padding: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0,0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

hr {
	height: 1px !important;
}
.justify {
	text-align: justify;
	text-justify: inter-word;
}

.name {
	font-family: 'Gill Sans', sans-serif !important;
	font-variant: small-caps;
  	font-weight: 700;
	white-space: nowrap;
	font-variant: small-caps;
	text-align: center;
}
blockquote {
	font-size: 8pt;
}
/*@media (max-width: 768px) { /* mobile view */
  /*#header  {*/
    /*position: relative;*/
    /*// or any other property to achieve the desired*/
  /*}*/
/*}*/
.navbar-color {
	background-color: #931F00 !important;
	color: #9CC8DD !important;
}

.news {
	font-size: 12pt;
	padding-bottom: 4px;
}
.sidebar {
	padding-right: 0 !important;
	min-height: 100%;
}
.quote {
	background-color: #931F00;
	color: #9CC8DD !important
}
.add-padding {
	padding: 15px;
}
.papers ul {
  list-style: none;
}
.add-padding a, a:hover {
	text-decoration: none !important;
	background-color: transparent !important;
}
.debullet {
	width: 100%;
	list-style-type: none;
}
.allcaps, .smallcaps {
	text-decoration: none;
}
.allcaps {
	text-transform: uppercase;
}
.smallcaps {
	font-variant: small-caps;
}
.active {
	text-decoration: none !important;
}
.circular {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('./profile_pic.jpg') no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}

.author-date {
	font-size: 12pt;
	left-margin: 2%;
}


@media (min-width: 992px) {
    .links-toggle {
        display: none;
    }
    #header .toggle {
        display: block;
    }
}
.links-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: #000;
    border: 1px solid #9CC8DD;
    /*border-radius: 4px;*/
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.links-toggle:hover, .links-toggle:active {
	background-color: rgba(0, 0, 0, 0.5);
	text-decoration: none !important;
  /*background-color: #9CC8DD;*/
}
.links-toggle .icon-bar {
    background-color: #9CC8DD;
		display: block;
		text-decoration: none !important;
    margin: 3px 0;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.links-toggle:hover .icon-bar {
    box-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
/* By default it's not affixed in mobile views, so undo that */
#header.affix {
  position: static;
}
/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  #header .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  #header.affix,
  #header.affix-bottom {
    width: 263px;
  }
  #header.affix {
    position: fixed; /* Undo the static from mobile first approach */
    /*top: 20px;*/
  }
  #header.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }

}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  #header.affix-bottom,
  #header.affix {
    width: 330px;
  }
}
.breadcrumb {
	background: transparent;
}

.modified, .published {
	font-size: 10pt;
}
.acmdlstat {
	padding-top: 0;
	padding-bottom: 0;
}

ul {
	list-style-type: none !important;
  padding-left: 0 !important;
}

.acmdlstat {
	font-size: 10pt !important;
}